.margem {
    padding-top: 4px;
    width: 40rem;

}

#espaço {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.espaco {
    padding-top: 40px;
    padding-left: 40px;
    float: left;

}

.tabela {
    width: 1000px;
    float: right;
    margin-right: 400px;
    margin-top: 40px;
}